.Id
{
  position:relative;
  top:-620px;
  left:230px;
}
.Name
{
  position:relative;
  top:-640px;
  left:360px;
}
.State
{
  position:relative;
  top:-660px;
  left:510px;
}
.bt
{
position:relative;
top:-680px;
left:640px;  
}
.text
{
  position:relative;
  top:-340px;
  left:250px;
}